@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Geist', 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

/* Hacer que todos los botones tengan esquinas menos redondeadas */
.rounded-md {
  border-radius: 0.375rem;
}

/* Ocultar scrollbar para Chrome, Safari y Opera */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
